* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(117, 106, 106);
}

h3,
h4 {
  font-weight: 700;
  color: rgb(87, 86, 86);
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
